.tab-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: px2rem(48px);
    display: flex;
    border-top: 1px solid #d6d6d6;
    box-sizing: border-box;
    background-color: rgba(246, 246, 246, 0.95);
    .tab-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: px2rem(10px);
        color: #999999;
        .tab-icon {
            height: px2rem(22px);
            width: px2rem(22px);
            margin-bottom: px2rem(5px);
            background-size: cover;
            &.home {
                background-image: url(./img/homeIcon.png);
                &.active {
                    background-image: url(./img/homeIconActive.png);
                }
            }
            &.order {
                background-image: url(./img/orderIcon.png);
                &.active {
                    background-image: url(./img/orderIconActive.png);
                }
            }
            &.my {
                background-image: url(./img/myIcon.png);
                &.active {
                    background-image: url(./img/myIconActive.png);
                }
            }
        }
    }
}